{% extends 'base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/styles.css' %}">

</head>

<body>
    <section class="top-content">

        <div class="container">
            <h1 class="text-center">Conversor de Script</h1>
        </div>
       
        <div class="orange-wave-back">
            <div class="orange-wave">
                <div class="wave-inner">
                    <div>
                        <h3 style="color: green;">Arquivo Convertido com Sucesso</h3>
                        <h4 style="color: green;">Clique em Baixar para fazer dowloard do arquivo</h4>
            
                    </div>
                    <form method="post" action="{% url 'curso' %}" id="form-curso" class="convert-form convert-step is-active" autocomplete="off">
                        {% csrf_token %}

                        <Label>Selecione o Curso</Label>
                        <div>
                            <input list="curso_nome" id="curso" value="{{curso}}" required name="curso">
                            <datalist id="curso_nome">
                                <option value="Escolha Uma Disciplina">Escolha Uma Disciplina</option>
                                {%for conteudo_disciplina_json in lista%}

                                {% if conteudo_disciplina_json == "SS2018.1" %}
                                
                                {% else %}
                                <option value="{{conteudo_disciplina_json|title}}">
                                    {{conteudo_disciplina_json|title}}
                                </option>
                                {% endif %}

                                {% endfor %}
                            </datalist>
                        </div>
                    </form>

                    <form action="{% url 'converter' %}" enctype="multipart/form-data" method="post" class="convert-form convert-step is-active" autocomplete="off">
                        {% csrf_token %}
                        <Label>Nome da disciplina</Label>
                        <div>
                            <input list="disciplina" id="disc" class="convert-url" required name="nome-disciplina">
                            <datalist id="disciplina">
                                <option value="Escolha Uma Disciplina">Escolha Uma Disciplina</option>
                                {%for conteudo_disciplina_json in l%}
                                <option value="{{conteudo_disciplina_json}} {{semestre}}">
                                    {{conteudo_disciplina_json}} {{semestre}}
                                </option>
                                {% endfor %}
                            </datalist>
                        </div>
                        <!-- <label for="course1">Escreva o nome da disciplina</label>
                    <input type="text" name="nome-disciplina" id="" placeholder="Digite aqui nome da disciplina" required> -->
                        <div>
                            <label for="upload">Busque o arquivo</label>
                            <p><input type="file" name="file" id=""></p>
                        </div>
                        <button type="submit" id="bt-conv"> Converter  </button>
                    </form>
                    <a id="baixar" href="{% url 'export_csv' %}">Baixar</a>
                </div>
            </div>
        </div>
    </section>
    <script src="{% static 'js/curso.js' %}"></script>

    {% endblock content %}