{% extends 'base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/styles.css' %}">

</head>

<body>
    <section class="top-content">

        <div class="container">
            <h1 class="text-center">Conversor de Script</h1>
        </div>
        <div>
            <h3 style="color: green;">Arquivo Convertido com Sucesso</h3>
            <h4 style="color: green;">Clique em Baixar para fazer dowloard do arquivo</h4>

        </div>
        <div class="orange-wave-back">
            <form action="{% url 'converter' %}" enctype="multipart/form-data" method="post">
                {% csrf_token %}
                <div>
                    <Label>Nome da disciplina</Label>
                    <div>
                        <select required name="nome-disciplina">
                            <option value="default">Escolha Uma Disciplina</option>
                            {%for conteudo_disciplina_json in conteudo_disciplina_jsons%}
                            <option
                                value="{{conteudo_disciplina_json.matricula}} - {{conteudo_disciplina_json.nome_disciplina}} - {{conteudo_disciplina_json.ch}}h - {{conteudo_disciplina_json.credito}} Cred">
                                {{conteudo_disciplina_json.matricula}} - {{conteudo_disciplina_json.nome_disciplina}} -
                                {{conteudo_disciplina_json.ch}}h - {{conteudo_disciplina_json.credito}} Cred
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                    <!-- <label for="course1">Escreva o nome da disciplina</label>
                <input type="text" name="nome-disciplina" id="" placeholder="Digite aqui nome da disciplina" required> -->
                    <div>
                        <label for="upload">Busque o arquivo</label>
                        <p><input type="file" name="file" id=""></p>
                    </div>
                    <button type="submit"> Converter </button>
            </form>
            <a href="{% url 'export_csv' %}">Baixar</a>
        </div>
    </section>
    {% endblock content %}