.top-content{
    background-color: #f6f0e9;
    padding: 60px 0 40px;
}

.container {
    padding: 0 20px;
    max-width: 980px;
    margin: 0 auto;
}

h1{
    margin: 0 0 33px;
    word-break: break-word;
}

.text-center {
    text-align: center;
}

.orange-wave-back{
    margin: 0 auto;
    display: flex;
    align-items: center;
    max-width: 1280px;
}

.orange-wave{
    flex-grow: 1;
    align-self: normal;
    min-height: 150px;
}

@media not screen and (max-width: 560px){
        .wave-inner {
        padding: 50px 18%;
    }
}

.convert-form{
    margin: 0 auto;
}

input, select{
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    margin: 0em;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}

button, input, textarea, select{
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    color: inherit;
    border: none;
    outline: none!important;
    padding: 0;
    margin: 0;
}

.convert-url{
    background-color: #fff;
    border-top: 6px solid #ebebeb;
    display: block;
    font-size: 18px;
    padding: 9px 9px 10px;
    box-sizing: border-box;
    width: 100%;
    color: #433f3e;
}

.form-footer {
    display: flex;
    font-size: 18px;
}

.format-select {
    flex: 1;
    --inner-control-br: 4px;
    border: 4px solid #505050;
    border-radius: calc(var(--inner-control-br)*2);
    display: flex;
    color: #fff;
    line-height: 1;
    font-weight: 700;
}

.btn-download {
    min-height: 100%;
    border: 4px solid #505050;
    border-radius: 8px;
    text-transform: uppercase;
    font-weight: 700;
}

.button {
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    line-height: 1;
    min-width: 100px;
    padding: 1px 6px;
    transition: background-color .25s ease;
}

#disc{
    width: 50%;
    border: 1px solid black;
    border-radius: 5px;
    height: 10px;
}

#bt-conv{
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;    
    margin-bottom: 10px;

}

#baixar{
    margin-top: 10px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;

}
#curso{
    border: 1px solid black;
    border-radius: 5px;

}